<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctcs.market.dao.MarketMapper">
    <!-- 企业的活动设置 -->
    <insert id="addPrize" parameterType="com.ctcs.market.entity.Prize">
        INSERT INTO t_bust_prize (
            promotionId,
            vendorId,
            startTime,
            endTime,
            prize1,
            prize2,
            prize3,
            prize4,
            prize5,
            prize6,
            odds1,
            odds2,
            odds3,
            odds4,
            odds5,
            odds6
        )
        VALUES (
            #{promotionId},
            #{vendorId},
            #{startTime},
            #{endTime},
            #{prize1},
            #{prize2},
            #{prize3},
            #{prize4},
            #{prize5},
            #{prize6},
            #{odds1},
            #{odds2},
            #{odds3},
            #{odds4},
            #{odds5},
            #{odds6}
        )
    </insert>
    <!-- 查看新增的企业活动 -->
    <select id="showPrize" parameterType="com.ctcs.market.entity.Prize"
            resultType="com.ctcs.market.entity.Prize">
        SELECT
            id,
            prize1,
            prize2,
            prize3,
            prize4,
            prize5,
            prize6,
            odds1,
            odds2,
            odds3,
            odds4,
            odds5,
            odds6
        FROM t_bust_prize
        WHERE vendorid = #{vendorId} AND promotionid = #{promotionId}
    </select>
    <update id="updateEndTime" parameterType="com.ctcs.market.entity.Prize">
        UPDATE t_bust_prize
        SET endtime = #{endTime}
        WHERE vendorid = #{vendorId} AND promotionid = #{promotionId}
    </update>
    <delete id="delPrize" parameterType="com.ctcs.market.entity.Prize">
        DELETE FROM t_bust_prize
        WHERE id = #{id}
    </delete>
    <insert id="redSet" parameterType="com.ctcs.market.entity.Redpacket">
        INSERT INTO redpacketinfo (
            vendorid, redtype, redmoney, moneytotal, rednum)
        VALUES (#{vendorId}, #{redType}, #{redMoney}, #{moneyTotal}, #{redNum})
    </insert>
    <update id="updatePrize" parameterType="com.ctcs.market.entity.Prize">
        UPDATE t_bust_prize
        SET endtime = #{endTime}, prize1 = #{prize1}, prize2 = #{prize2}, prize3 = #{prize3}, prize4 = #{prize4},
            prize5  = #{prize5}, prize6 = #{prize6}, odds1 = #{odds1}, odds2 = #{odds3}, odds3 = #{odds3},
            odds4   = #{odds4}, odds5 = #{odds5}, odds6 = #{odds6}
        WHERE vendorid = #{vendorId} AND promotionid = #{promotionId}
    </update>
    <insert id="marketCode" parameterType="com.ctcs.market.entity.MarketCode">
        INSERT INTO t_busi_marketcode (
            vendorid, status, starttime, endtime, name, promotionid,
            tel, prizeid, typeid, batchid) VALUES (
            #{vendorId}, #{status}, #{startTime}, #{endTime}, #{name},
            #{promotionId}, #{tel}, #{prizeId}, #{typeId}, #{batchId}
        )
    </insert>
    <select id="toVrecord" parameterType="java.lang.Long" resultType="com.ctcs.market.entity.MarketCode">
        SELECT
            name,
            tel,
            starttime,
            endtime,
            batchid,
            prizeid,
            status,
            promotionid
        FROM t_busi_marketcode
        WHERE vendorid = #{vendorId} AND status = 1 OR status = 2;
    </select>
    <select id="toApply" parameterType="java.lang.Long" resultType="com.ctcs.market.entity.MarketCode">
        SELECT
            id,
            name,
            tel,
            starttime,
            endtime,
            batchid,
            prizeid
        FROM t_busi_marketcode
        WHERE status = 0;
    </select>
    <update id="pass" parameterType="java.lang.Integer">
        UPDATE t_busi_marketcode SET status = 1 WHERE id=#{id}
    </update>
    <select id="record" resultType="com.ctcs.market.entity.MarketCode">
        SELECT id,prizeid,name,tel,starttime,endtime,status FROM t_busi_marketcode WHERE status=1 OR status=2 ORDER BY prizeid DESC
    </select>
    <update id="toClose" parameterType="java.lang.Integer">
        UPDATE t_busi_marketcode SET status = 2 WHERE id=#{id}
    </update>
    <select id="findStatus" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT status FROM t_busi_marketcode WHERE id=#{id}
    </select>
    <select id="findCodelog" parameterType="java.lang.String" resultType="Map">
        SELECT IFNULL(status,0) FROM t_bust_codelog WHERE code = #{code}
    </select>
    <select id="getProductData" parameterType="com.ctcs.market.entity.MarketCode" resultType="Map">
        SELECT  BATCHID,REFTYPEID FROM ${table} WHERE PRODUCTID = #{arrs}
    </select>
    <select id="getBatchData" parameterType="com.ctcs.market.entity.MarketCode" resultType="Map">
        SELECT  VENDORBATCHID,VENDORID FROM ${batchTable} WHERE BATCHID = #{batchId}
    </select>
    <select id="ispromotion" parameterType="com.ctcs.market.entity.MarketCode" resultType="com.ctcs.market.entity.MarketCode">
        SELECT prizeid,vendorid,starttime,endtime,promotionid FROM t_busi_marketcode
          WHERE batchid=#{batchId} AND vendorid=#{vendorId}
          AND status=1 AND typeId= #{productId}
    </select>
</mapper>