<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>中国可溯源商品诚信平台</title>
    <link rel="stylesheet" href="./css/app.css">
    <style>
        /* 定义模态对话框外面的覆盖层样式 */
        #modal-overlay {
            display: none;
            position: absolute; /* 使用绝对定位或固定定位 */
            left: 0px;
            top: 0px;
            width:100%;
            height:100%;
            text-align:center;
            z-index: 1000;
            background:rgba(100,100,100,0.8)
            /*background-color: #333;*/
            /*opacity: 0.8; /!* 背景半透明 *!/*/
        }
        /* 模态框样式 */
        .modal-data{
            width:300px;
            margin: 120px auto;
            background-color: transparent;
            /*border:1px solid #000;*/
            /*padding:15px;*/
            text-align:center;
            position:relative;
        }
        #button{
            position: absolute;
            top:7.5em;
            left: 1.8em;
        }
    </style>
    <script src="js/jquery-1.11.3.min.js"></script>

</head>
<body>
<!--模态框-->
<div id="modal-overlay">
    <div class="modal-data">
        <img src="./image/bj.png" alt="" style="width: 550px; height: 220px;" />
       
        <div id="button">
                <img src="./image/button.png" alt="" style="width: 150px; height: 45px;margin-left: 2em;"/>
        </div>
        <a href="#" class="close">
            <img src="./image/close.png" alt=""  style="width: 50px; height: 50px;"/>
        </a>
        
    </div>
</div>
<!--模态框结束-->
<!-- -->
<div class="main" id="app" v-cloak>

    <transition name="fade">
        <toast :show="toasts.showToast" :msg="toasts.msg"></toast>
    </transition>
    <!--全屏图片轮播 start-->
    <template v-if="headImages.show==true&&headImages.hasImages==true">
        <div class="js-view">
            <div class="swipe-item" id="fullSwipeScroll" :style="{width: 100*headImages.urls.length+'%'}">
                <template v-for="item in headImages.urls">
                    <div class="swipe-item-img">
                        <img :src="item+'&w='+common.clientWidth+'&h='+common.clientHeight" width="100%">
                    </div>
                </template>
            </div>
        </div>
    </template>
    <!--全屏图片轮播 end-->
    <!--图层验证码 start-->
    <template v-if="common.isShow == true">
        <div class="tcyz-full">
            <div class="tcyz-bk">
                <div class="t-title">涂层认证</div>
                <div class="t-prompt">请刮开涂层，输入4位二次认证码</div>
                <input type="text" id="coatcode" v-model="common.coatcode">
                <div class="btn-bk">
                    <div class="btn-cancel" @click.stop="checkPanel(2)">取消</div>
                    <div class="btn-ok" @click.stop="checkCode">确认</div>
                </div>
            </div>
        </div>
    </template>
    <!--图层验证码 end-->
    <!--头部start-->
    <div class="header">
        <!--图片轮巡 start-->
        <div class="swipe">
            <div class="swiper-wrapper">
                <div class="swipe-item" id="swipeScroll"
                     :style="{width: headImages.urls.length==1?'100%':96*headImages.urls.length+'%'}">
                    <template v-for="item in headImages.urls">
                        <div class="swipe-item-img border" :style="{flex: '0 0 '+(100/headImages.urls.length-3)+'%' }">
                            <img :src="item+'&w='+common.clientWidth+'&h=250'" width="100%">
                        </div>
                    </template>
                </div>
            </div>
            <template v-if="statusDesc&&statusDesc.value">
                <a href="http://goods.zkxaiot.cn/appweb/valid.jsp" id="checkfx">
                    <img :src="'./image/'+statusDesc.color+'.png'" height="28px" width="28px">
                    <div class="jyzt" :style="{color: '#'+statusDesc.color}">{{statusDesc.value}}</div>
                </a>
            </template>
        </div>
        <!--图片轮巡 end-->
        <!--产品名和星级 start-->
        <div class="product" id="product">
            <p>{{productName.value}}</p>
            <template v-if="comment.showComment&&comment.commentStar">
                <div class="star">
                    <div class="level">
                        <img src="./image/bad.png" width="63px" height="11px" class="bad">
                        <div class="good" :style="{width: comment.commentStar + '%'}">
                            <img class="nomax" src="./image/good.png" width="63px" height="11px">
                        </div>
                    </div>
                    <span class="count">({{comment.commentLevel.commentcount}})</span>
                </div>
            </template>
        </div>
        <!--产品名和星级 end-->
        <!--追溯信息 图文详情 企业介绍 start--><!--加 专家团队-->
        <template v-if="imageTextInfo.showImagelTab==true || vendorIntro.showIntroTab==true">
            <div class="tabs-block">
                <div class="tabs" id="tabs" :class="{ fixed: common.fix==true }">
                    <div class="tab" @click="common.isActive='info'"><span
                            :class="{ selected: common.isActive=='info' }">追溯信息</span></div>
                    <template v-if="imageTextInfo.showImagelTab==true">
                        <div class="tab" @click="common.isActive='detail'"><span
                                :class="{ selected: common.isActive=='detail' }">图文详情</span></div>
                    </template>
                          
                    <template v-if="vendorIntro.showIntroTab==true">
                        <div class="tab" @click="common.isActive='intro'"><span
                                :class="{ selected: common.isActive=='intro' }">企业介绍</span></div>
                    </template>
					<template v-if="this.showExpertImagelTab==true">
                        <div class="tab" @click="common.isActive='team'"><span
                                :class="{ selected: common.isActive=='team' }">专家团队</span></div>
                    </template> 
                </div>
            </div>
        </template>
        <template v-else>
            <hr>
        </template>
    </div>
    <!--头部 end-->
    <!--主题内容 start-->
    <div class="content">
        <!--追溯信息-->
        <template v-if="common.isActive=='info'">
            <div class="panel" id="info">
                <div class="padding-15">
                    <!--追溯信息 详情-->
                    <div class="info-detail">
                        <p class="title">基本信息</p>
                        <template v-for="item in baseInfo">
                            <template v-if="item&&item.url">
                                <p><label>{{item.text}}:</label><a :href="item.url"><span>{{item.value}}</span></a></p>
                            </template>
                            <template v-else>
                                <p><label>{{item.text}}:</label><span>{{item.value}}</span></p>
                            </template>
                        </template>
                        <template v-if="inspectInfo.hasInspectInfo">
                            <hr>
                            <p class="title bj-title">质量信息</p>
                            <template v-for="item in inspectInfo.data">
                                <template v-if="item&&item.url">
                                    <p><label>{{item.text}}:</label><a :href="item.url"><span>{{item.value}}</span></a>
                                    </p>
                                </template>
                                <template v-else>
                                    <p><label>{{item.text}}:</label><span>{{item.value}}</span></p>
                                </template>
                            </template>
                            <!--<hr>-->
                        </template>
                        <!--<div class="check-line">以上为进出口产品监管信息</div>-->
                    </div>
                    <!--用户评价-->
                    <template v-if="bestComment.showComment==true">
                        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.zjuiti.acscan&g_f=991653" class="comment">
                            <p class="c-title">用户评价</p>
                            <!--<div class="user">
                                <template v-if="bestComment.bestCommentStar">
                                    <p class="rate-title">{{bestComment.bestCommentLevel.comment}}</p>
                                    <div class="star">
                                        <div class="level">
                                            <img src="/image/bad.png" width="63px" height="11px" class="bad">
                                            <div class="good" :style="{width: bestComment.bestCommentStar + '%'}">
                                                <img class="nomax" src="/image/good.png" width="63px" height="11px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact">
                                        <span>{{bestComment.bestCommentLevel.phone}}</span>
                                        <span>{{bestComment.bestCommentLevel.commentdate}}</span>
                                    </div>
                                </template>
                                <p v-else class="rate-title">暂无评价</p>
                            </div>-->
                            <div class="all-btn">所有评价</div>
                        </a>
                    </template>
                </div>
                <hr>
                <div class="added">
                    <a :href="loginUrl" class="tb-show">
                        <span class="icon user">会员登录</span>
                        <span class="more"><span></span> {{loginFlag}}</span>
                    </a>
                    <template v-if="saleInfo&&saleInfo.price">
                        <template v-if="saleInfo.url">
                            <a :href="saleInfo.url" class="tb-show">
                                <span class="icon"
                                      :style="{background: 'url(\'./image/icon/'+formatPlat+'.png\') 15px center/16px 16px no-repeat'}">这件商品在{{saleInfo.platform}}上有售卖</span>
                                <span class="more"><span>&#65509;{{saleInfo.price}}</span> ></span>
                            </a>
                        </template>
                        <template v-else>
                            <a href="javascript:;" class="tb-show">
                                <span class="icon price">建议零售价</span>
                                <span class="more"><span>&#65509;{{saleInfo.price}}</span></span>
                            </a>
                        </template>
                    </template>
                    <template v-if="activityInfo&&activityInfo.url">
                        <a :href="activityInfo.url" class="tb-show">
                            <span class="icon hd">商家活动：{{activityInfo.activitydetail}}</span>
                            <span class="more">></span>
                        </a>
                    </template>
                    <!--<div class="app">
                        <img src="/image/app.png" width="100%">
                    </div>
                    <div class="app">
                        <img src="./image/gzh.png" width="100%">
                    </div>-->
                </div>
            </div>
        </template>
        <!--图文详情-->
        <template v-if="common.isActive=='detail'">
            <div class="panel" id="detail" v-html="imageTextInfo.data"></div>
        </template>
		<!--专家团队-->
        <template v-if="common.isActive=='team'">
            <div class="panel" id="team" v-html="expertTeamInfo"></div>
        </template>
        <!--企业介绍-->
        <template v-if="common.isActive=='intro'">
            <div class="panel" id="intro">
                <div id="load">
                    <div class="intro-info">
                        <img :src="vendorIntro.data.logourl" class="title-pic" width="100px">
                        <div style="text-align: justify;" v-html="vendorIntro.data.content"></div>
                    </div>
                    <hr>
                    <template v-if="vendorIntro.relprods.length>0">
                        <div class="check-lines">该企业的已追溯产品</div>
                        <div class="list-product">
                            <template v-for="item in vendorIntro.relprods">
                                <div class="list-item" @click="getProductInfo(item.url)">
                                    <div class="list-item-image">
                                        <img :src="item.image!=''?item.image:'./image/caapp.jpg'" width="100%" alt="">
                                    </div>
                                    <p>{{item.name}}</p>
                                </div>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
        </template>
    </div>
    <!--主题内容 end-->
    <div class="footer">
        <template v-if="common.isActive=='info'&&common.tcyz==true&&common.tagType!=1&&common.tagType!=4">
            <template v-if="common.tagType==2">
                <div class="tcyz" @click="checkPanel(1)">
                    <img src="./image/tcyz.png" width="115px" height="57px">
                </div>
            </template>
            <template v-else>
                <div class="tcyz">您扫的码有芯片验证功能，请下载专用App。</div>
            </template>
        </template>
        <template v-else>
            <div class="self-intr">*本页面信息由企业自主提供</div>
        </template>
        <div class="footer-info">@中国可溯源商品诚信平台 技术支持电话 010-65668040-6009</div>
    </div>
    <!--地图api start-->
    <div id="allmap" style="width:1px;height:1px;display: none;"></div>
    <!--地图api end-->
</div>
<script src="js/vue.min-2.1.0.js"></script>
<script src="./js/vue-resource.min.js"></script>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=5b2a55693f34cc7a2cf68359ea4e363c"></script>
<script src="./js/alloy_finger.js"></script>
<script src="./js/jquery-1.11.3.min.js"></script>
<script>
    Vue.component('toast', {
        props: {
            show: Boolean,
            msg: String
        },
        template: '<div v-if="show==true" class="toast">{{msg}}</div>'
    });
    var env = 1;
    var app = new Vue({
        el: '#app',
        data: {
			vendorid:0,
			typeid:0,
			showExpertImagelTab:false,
			expertTeamInfo:'',
            loginFlag: '>',
            loginUrl: 'javascript:;',
            common: {
                infoUrl: env == 1 ? 'http://goods.zkxaiot.cn/ccodeapiJSONP.action' : 'http://10.12.10.20:8080/ccodeapiJSONP.action',//获取信息
                checkUrl: env == 1 ? 'http://goods.zkxaiot.cn/tcodeapiJSONP.action' : 'http://10.12.10.20:8080/tcodeapiJSONP.action',//二次认证
                locationUrl: env == 1 ? 'http://goods.zkxaiot.cn/addScanpositionapi.action' : 'http://10.12.10.20:8080/addScanpositionapi.action',//上传地理位置
                authCodes: location.search.split('=')[1],//二维码字符串
                coatcode: '',
                clientHeight: document.documentElement.clientHeight,//屏幕高度
                clientWidth: document.documentElement.clientWidth,
                offsetTop: 0,
                fix: false,
                isActive: 'info',
                tcyz: true,
                isShow: false,
                tagType: 1
            },
            status: {
                fullSwipeIndex: 0,
                swipeIndex: 0,
                swipeLength: 1
            },
            toasts: {
                showToast: false,
                msg: ''
            },
            result: {},//所有信息
            headImages: {
                urls: ['./image/caapp.jpg?1=1'],
                show: false,//全屏轮播是否显示
                hasImages: false//是否有头部轮播图片
            },
            productName: {}, /*产品名称*/
            statusDesc: {}, /*检验状态*/
            comment: {//总体评价
                showComment: false,
                commentLevel: {},
                commentStar: ''
            },
            baseInfo: [],//基本信息
            inspectInfo: {//报检信息
                hasInspectInfo: false,
                data: []
            },
            bestComment: {//用户评价
                showComment: false,
                bestCommentLevel: {},
                bestCommentStar: ''
            },
            saleInfo: {},//电商 营销
            activityInfo: {},//活动
            vendorIntro: {//企业介绍
                showIntroTab: false,
                data: {},
                index: 0,
                relprods: []
            },
            imageTextInfo: {
                data: '',
                showImagelTab: false
            },
			
			//expertTeamInfo: {//专家团队介绍
               // data: '',
                //showExpertImagelTab: false
           // }
        },
        mounted: function () {
            window.addEventListener('scroll', this.onLoadMore, false);
        },
        created: function () {
            localStorage.setItem('cqc.url', location.href);
            var userid = localStorage.getItem('member.userid') ? localStorage.getItem('member.userid') : '';
            this.loginFlag = userid ? '已登录' : '>';
            this.loginUrl = userid ? 'javascript:;' : 'login.html';
            this.getExpertInfo();
             this.getInfo(userid);
	    
//            this.getLocation(userid);
        },
        methods: {
            onPan: function () {
                var self = this;
                var _isFiexed = self.common.offsetTop - (document.documentElement.scrollTop || document.body.scrollTop);
                if (_isFiexed > 0) {
                    self.common.fix = false;
                } else {
                    self.common.fix = true;
                }
            },//tabs监听事件
            onLoadMore: function () {
                var _scrollTop = document.body.scrollTop,
                    _scrollHeight = document.documentElement.scrollHeight, self = this;
                if (self.common.isActive == 'intro' && self.vendorIntro.data.relprods.length > self.vendorIntro.relprods.length) {
                    if (_scrollTop + self.common.clientHeight + 50 >= _scrollHeight) {
                        self.vendorIntro.index++;
                        var _newArr = self.vendorIntro.data.relprods.slice(0, ( self.vendorIntro.index + 1) * 6);
                        self.vendorIntro.relprods = _newArr;
                    }
                }

            },
            toast: function (msg) {
                this.toasts.showToast = true;
                this.toasts.msg = msg;
                var self = this;
                setTimeout(function () {
                    self.toasts.showToast = false;
                }, 2000);
            },
            checkPanel: function (flag) {
                if (flag == 1) {
                    document.body.style.overflow = 'hidden';
                    this.common.isShow = true;
                } else {
                    document.body.style.overflow = 'auto';
                    this.common.isShow = false;
                }

            },
            checkCode: function () {
                if (this.common.coatcode == '') {
                    this.toast('认证码不能为空！');
                    return false
                }
                var _data = {
                    authCode: this.common.authCodes,
                    coatCode: this.common.coatcode
                };
                this.common.isShow = false;
                document.body.style.overflow = 'auto';
                this.common.coatcode = '';
                this.$http.jsonp(this.common.checkUrl, {
                    callbacks: 'coatCallback',
                    params: _data
                }, {
                    headers: {},
                    emulateJSON: true
                }).then(function (response) {
                    var _result = JSON.parse(response.data);
                    if (_result.Result == 0) {
                        this.toast(_result.SaleInfo[0].value);
                    } else {
                        this.toast(_result.FailInfo);
                    }
                }, function () {
                })
            },
            swipeScroll: function (el) {
                var self = this;
                Transform(el);
//                new To(el, "translateX", 15, 0);
                new AlloyFinger(el, {
                    touchMove: function (evt) {
                        if (Math.abs(evt.deltaX) >= Math.abs(evt.deltaY)) {
                            evt.preventDefault();
                        }
                    },
                    tap: function () {
                        document.body.style.overflow = 'hidden';
                        self.headImages.show = true;
                        self.$nextTick(function () {
                            self.fullSwipeScroll(document.getElementById('fullSwipeScroll'));
                        });
                    },
                    swipe: function (evt) {
                        var _width = el.querySelectorAll('.swipe-item-img')[0].getBoundingClientRect().width;
                        var _cwidth = el.querySelectorAll('.swipe-item-img')[0].getBoundingClientRect().width + 15;
                        var _pwidth = document.querySelector('.swiper-wrapper').getBoundingClientRect().width;
                        if (self.status.swipeLength > 1) {
                            if (evt.direction === "Left") {
                                if (self.status.swipeIndex < self.status.swipeLength - 1) {
                                    self.status.swipeIndex++;
                                    var _index = self.status.swipeIndex;
                                    if (_index == self.status.swipeLength - 1) {
                                        new To(el, "translateX", -_cwidth * (self.status.swipeIndex) + (_pwidth - _cwidth - 15), 500);
                                    } else {
                                        new To(el, "translateX", -_cwidth * self.status.swipeIndex, 500);
                                    }
                                }
                            } else if (evt.direction === "Right") {
                                if (self.status.swipeIndex > 0) {
                                    self.status.swipeIndex--;
                                    if (self.status.swipeIndex == 0) {
                                        new To(el, "translateX", 0, 500);
                                    } else {
                                        new To(el, "translateX", -_cwidth * self.status.swipeIndex, 500);
                                    }
                                    /*var _index=self.status.swipeIndex;
                                     if(_index==self.status.swipeLength-2){
                                     new To(el, "translateX", -_width * self.status.swipeIndex, 500);
                                     }else {
                                     new To(el, "translateX", -_cwidth * self.status.swipeIndex, 500);
                                     }*/
                                }
                            }
                        }
                    }
                });
            },
            fullSwipeScroll: function (el) {
                var self = this;
                Transform(el);
                var _width = el.querySelectorAll('.swipe-item-img')[0].getBoundingClientRect().width;
                new To(el, "translateX", -_width * self.status.swipeIndex, 10);
                self.status.fullSwipeIndex = self.status.swipeIndex;
                new AlloyFinger(el, {
                    touchMove: function (evt) {
                        if (Math.abs(evt.deltaX) >= Math.abs(evt.deltaY)) {
                            evt.preventDefault();
                        }
                    },
                    tap: function () {
                        document.body.style.overflow = 'auto';
                        self.headImages.show = false;
                    },
                    swipe: function (evt) {
                        if (self.status.swipeLength > 1) {
                            if (evt.direction === "Left") {
                                if (self.status.fullSwipeIndex < self.status.swipeLength - 1) {
                                    self.status.fullSwipeIndex++;
                                    new To(el, "translateX", -_width * self.status.fullSwipeIndex, 500);
                                }
                            } else if (evt.direction === "Right") {
                                if (self.status.fullSwipeIndex > 0) {
                                    self.status.fullSwipeIndex--;
                                    new To(el, "translateX", -_width * self.status.fullSwipeIndex, 500);
                                }
                            }
                        }
                    }
                });
            },
			getExpertInfo: function () {//获取专家团队信息
				var self = this;
				$(function(){
                                       
					var url="http://goods.zkxaiot.cn/Market/loadteaminfo?vendorid=101721851&typeid=6666443229872";
					$.ajax({
						url:url,
						dataType:'jsonp',
						processData:false,
						type:'get',
						jsonpCallback:"callback",
						success:function(data){

							//alert(data.ishave);
							//alert(data.url);
							//this.expertTeamInfo.data = _data.AddService.expertTeamInfo;//专家团队
							//this.expertTeamInfo.showExpertImagelTab = (this.expertTeamInfo.data != '');//专家团队tabs
							self.showExpertImagelTab = data.ishave;
							self.expertTeamInfo = data.url;
                                                             alert(this.showExpertImagelTab);
                                                             alert(this.expertTeamInfo);

						},
						error:function(XMLHttpRequest,textStatus,errorThrown){
							alert(XMLHttpRequest.status);
							alert(XMLHttpRequest.redayState);
							alert(textStatus);
						}
					})
				});
			},
            getInfo: function (userid) {//获取所有信息
                this.$http.jsonp(this.common.infoUrl, {
                    callbacks: 'callback',
                    params: {authCode: this.common.authCodes, isvip: userid,datetimes:new Date().getTime()},
                    emulateJSON: true
                }).then(function (response) {
                    var _data = response.data;

					this.vendorid = _data.vendorid;
					this.typeid = _data.typeid;

                    if (Object.prototype.toString.call(response.data) == '[object String]') {
                        _data = JSON.parse(response.data);
                    }
                    if (_data.Result == 0) {
                        this.getLocation(userid, _data.vendorid, _data.typeid);
                        this.result = _data;
                        this.common.tagType = _data.TagType;
                        if (_data.ProdPics.length > 0) {/*头部轮播图片*/
                            this.headImages.urls = _data.ProdPics;
                            this.headImages.hasImages = true;
                            this.status.swipeLength = this.headImages.urls.length;
                        }
                        this.$nextTick(function () {
//                            if (this.headImages.urls.length > 1) {
                            this.swipeScroll(document.getElementById("swipeScroll"));
//                            }
                        });
                        /*产品名称和检验状态*/
                        var _base = _data.BaseInfo;
                        for (var i = 0, len = _base.length; i < len; i++) {
                            if (_base[i].key == 'ProductName') {
                                this.productName = _base[i];
                            }
                            if (_base[i].key == 'StatusDesc') {
                                this.statusDesc = _base[i];
                            }
                        }
                        /* 总体评价commentcount*/
                        var _comment = _data.AddService.CommentLevel;
                        if (_comment && _comment.levelscore) {
                            this.comment.commentLevel = _comment;
                            this.comment.commentStar = (_comment.levelscore / 5) * 100;
                        }
                        /*基本信息*/
                        var _baseInfo = _data.ProductInfo[0].data;
                        this.baseInfo = _baseInfo.filter(function (item) {
                            return item.key != 'CNProofSample';
                        });
                        /*报检信息*/
                        var _inspectInfo = _data.ProductInfo[1].data;
                        this.inspectInfo.hasInspectInfo = _inspectInfo.length > 1 ? true : false;//是否有报检信息
                        if (this.inspectInfo.hasInspectInfo) {
                            this.inspectInfo.data = _inspectInfo;
                        } else {
                            _inspectInfo[0] ? this.baseInfo.push(_inspectInfo[0]) : '';
                        }
                        /*用户评价*/
                        var _bestComment = _data.AddService.BestComment;
                        if (_bestComment && _bestComment.levelscore) {
                            this.bestComment.bestCommentLevel = _bestComment;
                            this.bestComment.bestCommentStar = (_bestComment.levelscore / 5) * 100;
                        }
                        this.saleInfo = _data.AddService.SaleInfo;//电商 营销
                        this.activityInfo = _data.AddService.ActivityInfo;//活动

                        var _vendorIntro = _data.AddService.VendorIntro;//企业介绍
                        this.vendorIntro.showIntroTab = _vendorIntro && _vendorIntro.name ? true : false;//企业tabs
                        if (this.vendorIntro.showIntroTab) {//如果企业tabs有数据
                            this.vendorIntro.data = _vendorIntro;
                            if (_vendorIntro && _vendorIntro.relprods.length > 0)
                                this.vendorIntro.relprods = this.vendorIntro.data.relprods.slice(this.vendorIntro.index * 6, (this.vendorIntro.index + 1) * 6);//企业介绍产品
                        }
                        this.imageTextInfo.data = _data.AddService.ImageTextInfo;//图文详情
                        this.imageTextInfo.showImagelTab = (this.imageTextInfo.data != '');//图文tabs

						//this.expertTeamInfo.data = _data.AddService.expertTeamInfo;//专家团队
                       // this.expertTeamInfo.showExpertImagelTab = (this.expertTeamInfo.data != '');//专家团队tabs

                        this.$nextTick(function () {
                            var self = this;
                            var _product = document.getElementById('product');
                            this.common.offsetTop = _product.offsetTop + _product.offsetHeight + 10;
                            window.addEventListener('scroll', this.onPan, false);
                            new AlloyFinger(this.$el, {
                                pressMove: function (e) {
                                    self.onPan();
                                }
                            })
                        });
                    } else {
                        this.toast(_data.FailInfo);
                        setTimeout(function () {
                            document.body.style.display = 'none';
                        }, 2100)
                    }
                }, function () {
                })
            },
            getLocation: function (userid, vendorid, typeid) {
                var self = this;
                var map, geolocation;
                map = new AMap.Map('allmap', {resizeEnable: true});
                map.plugin('AMap.Geolocation', function () {
                    geolocation = new AMap.Geolocation({
                        enableHighAccuracy: true,//是否使用高精度定位，默认:true
                        timeout: 10000,          //超过10秒后停止定位，默认：无穷大
                        buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                        zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                        buttonPosition: 'RB'
                    });
                    map.addControl(geolocation);
                    geolocation.getCurrentPosition();
                    AMap.event.addListener(geolocation, 'complete', function (data) {
                        AMap.service('AMap.Geocoder', function () {//回调函数
                            //实例化Geocoder
                            var geocoder = new AMap.Geocoder({
                                city: "010"//城市，默认：“全国”
                            });
                            //逆地理编码
                            var lnglatXY = [data.position.getLng(), data.position.getLat()];//地图上所标点的坐标
                            geocoder.getAddress(lnglatXY, function (status, result) {
                                if (status === 'complete' && result.info === 'OK') {
                                    //获得了有效的地址信息:
                                    var _json = JSON.stringify({
                                        "longitude": data.position.getLng(),
                                        "latitude": data.position.getLat(),
                                        "uposition": result.regeocode.formattedAddress,
                                        "authCode": self.common.authCodes,
                                        "isvip": userid,
                                        "vendorid": vendorid,
                                        "typeid": typeid
                                    });
                                    self.$http.post(self.common.locationUrl, {}, {
                                        headers: {'Client-Flag': '1'},
                                        emulateJSON: true,
                                        params: {
                                            json: _json
                                        }
                                    }).then(function (response) {
                                        console.log(response);
                                    });
                                } else {
                                    //获取地址失败
                                }
                            });
                        });
                    });//返回定位信息
                    AMap.event.addListener(geolocation, 'error', function (data) {
                        console.log(data)
                    });      //返回定位出错信息
                });
            },//获取地址坐标
            getProductInfo: function (url) {
                this.common.isActive = 'info';
                this.$http.jsonp(url, {
                    callbacks: 'callback',
                    emulateJSON: true
                }).then(function (response) {
                    document.body.scrollTop = 0;
                    var _data = response.data;
                    if (Object.prototype.toString.call(response.data) == '[object String]') {
                        _data = JSON.parse(response.data);
                    }
                    if (_data.Result == 0) {
                        this.result = _data;
                        this.common.tagType = 1;
                        if (_data.ProdPics.length > 0) {/*头部轮播图片*/
                            this.headImages.urls = _data.ProdPics;
                            this.headImages.hasImages = true;
                            this.status.swipeLength = this.headImages.urls.length;
                        } else {
                            this.status.swipeLength = 1;
                            this.headImages.urls = ['./image/caapp.jpg?1=1'];
                        }
                        this.status.swipeIndex = 0;
                        this.status.fullSwipeIndex = 0;
                        new To(document.getElementById("swipeScroll"), "translateX", 0, 10);
                        /*产品名称和检验状态*/
                        var _base = _data.BaseInfo;
                        for (var i = 0, len = _base.length; i < len; i++) {
                            if (_base[i].key == 'ProductName') {
                                this.productName = _base[i];
                            }
                        }
                        this.statusDesc = {};
                        /* 总体评价commentcount*/
                        var _comment = {};
                        if (_comment && _comment.levelscore) {
                            this.comment.commentLevel = _comment;
                            this.comment.commentStar = (_comment.levelscore / 5) * 100;
                        }
                        /*基本信息*/
                        var _baseInfo = _data.ProductInfo[0].data;
                        this.baseInfo = _baseInfo.filter(function (item) {
                            return item.key != 'CNProofSample';
                        });
                        /*报检信息*/
                        var _inspectInfo = [];
                        this.inspectInfo.hasInspectInfo = false;//是否有报检信息
                        this.inspectInfo.data = _inspectInfo;

                        /*用户评价*/
                        var _bestComment = {};
                        if (_bestComment && _bestComment.levelscore) {
                            this.bestComment.bestCommentLevel = _bestComment;
                            this.bestComment.bestCommentStar = (_bestComment.levelscore / 5) * 100;
                        }
                        this.saleInfo = _data.AddService.SaleInfo;//电商 营销
                        this.activityInfo = _data.AddService.ActivityInfo;//活动

                        var _vendorIntro = _data.AddService.VendorIntro;//企业介绍
                        this.vendorIntro.showIntroTab = _vendorIntro && _vendorIntro.name ? true : false;//企业tabs
                        if (this.vendorIntro.showIntroTab) {//如果企业tabs有数据
                            this.vendorIntro.data = _vendorIntro;
                            if (_vendorIntro && _vendorIntro.relprods.length > 0)
                                this.vendorIntro.relprods = this.vendorIntro.data.relprods.slice(this.vendorIntro.index * 6, (this.vendorIntro.index + 1) * 6);//企业介绍产品
                        }
                        this.imageTextInfo.data = _data.AddService.ImageTextInfo;//图文详情
                        this.imageTextInfo.showImagelTab = (this.imageTextInfo.data != '');//图文tabs

						//this.expertTeamInfo.data = _data.AddService.expertTeamInfo;//专家团队
                        //this.expertTeamInfo.showExpertImagelTab = (this.expertTeamInfo.data != '');//专家团队tabs

                        this.$nextTick(function () {
                            var self = this;
                            var _product = document.getElementById('product');
                            this.common.offsetTop = _product.offsetTop + _product.offsetHeight + 10;
                            window.addEventListener('scroll', this.onPan, false);
                            new AlloyFinger(this.$el, {
                                pressMove: function (e) {
                                    self.onPan();
                                }
                            })
                        });
                                  

                    } else {
                        this.toast(_data.FailInfo);
                        setTimeout(function () {
                            document.body.style.display = 'none';
                        }, 2100)
                    }
                }, function () {
                })
            }
        },
        computed: {
            formatPlat: function () {
                var _value = this.saleInfo.platform;
                switch (_value) {
                    case '京东':
                        return 'jd';
                    case '聚美':
                        return 'jm';
                    case '考拉':
                        return 'kl';
                    case '苏宁':
                        return 'sn';
                    case '淘宝':
                        return 'tb';
                    case '天猫':
                        return 'tm';
                    case '唯品会':
                        return 'wph';
                    case '一号店':
                        return 'yhd';
                    case '阿里巴巴':
                        return 'ali';
                    default:
                        return 'tb';
                }
            }
        }
    });

</script>
<!--模态框JS-->
<script>
    $(".close").click(function(){
        document.getElementById('modal-overlay').style.display =  "none" ;
    })
</script>
<!--模态框JS结束-->
<!--是否显示-->
<script>
    $(document).ready(function(){
//        $("#modal_overlay").show();
        var demo1 = new String("0");
        var url=location.search.split('=')[1];
        $.ajax({
            type: 'post',
            url: "http://goods.zkxaiot.cn/Market/ispromotion",
//            headers : {‘Authorization’:’Basic bmVvd2F5Oe4lb3dheQ==’}
            dataType:'json',
            data: {"code":url},
            success: function(result){
              //  alert(url);
//                alert(result.demo);
                demo1=result.demo;
                if (demo1 !== "0") {
//                    alert("if");
                    $("#modal-overlay").css('display','block');
                } else {
//                    alert("else");
                    $("#modal-overlay").css('display','none');
                }
            },
            error : function(result) {
                console.log(result);
            }
        });
        <!--页面间的跳转和传参-->
        var url2 = "active01/index.html?code="+url;
        var url3 = "active02/index.html?code="+url;
	    var url4 = "http://goods.zkxaiot.cn/Market?code="+url;//红包
            $("#button").click(function(){
                if(demo1 == "1"){
                    window.open(url2)
                }else if(demo1 == "2"){
                    window.open(url3)
                }
				else if(demo1 == "3"){
                    window.open(url4)
                }
            });
    })
</script>
</body>
</html>


















